.Header{
    background-color: royalblue;
}

.info{
    text-align: center;
}

.name{
    background-color: azure;
    color:black
}

.car{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.transport{
    text-align: center;
}

.mode{
    background-color: royalblue;
    color: black;
}

.project{
    border-style: dotted;
  border-width: thick;
    border-color: ivory;
}